<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> BOSTON HOUSE PRICE PREDICTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}"><br>
            CRIM    : <input type="text", name='CRIM', placeholder="enter your CRIM "> <br><br>       
            ZN      :  <input type="text", name='ZN', placeholder="enter ZN"> <br><br>
            INDUS   :  <input type="text", name='INDUS', placeholder="enter INDUS"> <br><br>
            CHAS    :  <input type="text", name='CHAS', placeholder="enter CHAS"> <br><br>
            NOX     :  <input type="text", name='NOX', placeholder="enter NOX"> <br><br>
            RM      :  <input type="text", name='RM', placeholder="enter RM"> <br><br>
            AGE     :  <input type="text", name='AGE', placeholder="enter AGE"> <br><br>
            DIS     :  <input type="text", name='DIS', placeholder="enter DIS"> <br><br>
            RAD     :  <input type="text", name='RAD', placeholder="enter RAD"> <br><br>
            TAX     :  <input type="text", name='TAX', placeholder="enter TAX"> <br><br>
            PTRATIO :  <input type="text", name='PTRATIO', placeholder="enter PTRATIO"> <br><br>
            B       :  <input type="text", name='B', placeholder="enter B"> <br><br>
            LSTAT   :  <input type="text", name='LSTAT', placeholder="enter LSTAT"> <br><br>
			            <input type="submit" , value='Predict' >
        </form>


        
    </center>

    </body>
</html>